*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
}
.text-blue{
    color: rgb(0, 70, 192);
}
.bg-blue{
    background: rgb(0, 70, 192);
}
.bg-silver{
    background: rgb(168, 168, 168);
}
.bg-white{
    background: white;
}
.border-white{
    border: 2px solid white;
    opacity: 1;
}
.border-blue{
    border: 2px solid blue;
    opacity: 1;
}
#hero-section{
    background: linear-gradient(rgba(0,0,0, 0.8),rgba(22, 73, 161, 0.4)), url(../images/1-min.jpg);
    padding-bottom: 50x;
}
.hero-counter{
    background: linear-gradient(rgba(255, 255, 255,1),rgba(255, 255, 255,1)),url(../images/3-min.png) no-repeat  !important;
    background-size: cover;
    margin: -50px 0px 0px 0px;
}
.about{
    margin-top: 80px;
}
#hero-section img {
    position: absolute;    
    animation:spin 30s linear infinite;
}
.video-box video{
    z-index: -1;
}
.newsletter{
    margin-bottom: -80px;
}
.footer_content{
    padding-top: 100px;
}
.container {
    margin-top: -50px;
    z-index: 2;
  }
  .main_header{
      position:sticky;
      top: 0px;
      z-index: 500;
  }
  /* input:-moz-placeholder {
    color: red !important;
} */
.menu li:hover a{
    color: white !important;

}
.menu li:hover{
    background: rgb(0, 70, 192) !important;
    border-radius: 20px;

}
input[type="button"]:hover{
    background: black !important;
    color: white !important;
    border: 0px!important;
}
  .feedback input[type="text"]::placeholder , .feedback textarea::placeholder {
      color: white !important;
  }
  .change:hover{
      color: black !important;
  }
  .expertise .card:hover{
      background: white !important;
      color: rgb(0, 70, 192) !important;
  }
  .expertise .card:hover p{
      color: rgb(0, 70, 192) !important;
  }
  .expertise .card:hover h5{
      color: rgb(0, 70, 192) !important;
  }
  .expertise .card:hover i{
    background: rgb(0, 70, 192) !important;
    color: white !important;
  }
   .about img:hover, .expertise img:hover, .symptoms img:hover {
    transform: scale(0.8,1);
    transition: 1s;
  }
 .symptom button:hover{
    background: rgb(0, 70, 192);
    color: white;
    transition: 1s;
 }
 .special_service .card:hover i{
     color: white;
 }
 .special_service .card:hover {
     background: rgb(0, 70, 192);
     color: white;
     transition: 1s;
 }
 .owl-carousel .item:hover .card{
    background: url(../images/pattern.png);
    background-size: 100%  100%;
 }
 .team{
     background: url(../images/pattern2.jpg);
     background-size: 100% 100%;
 }
 .hero{
     background: url(../images/pattern3.jpg);
     background-size: 100% 100%;
 }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    .team .card:hover img, .blogs .card:hover img {
        transform:scale(0.9,0.9);
        transition: 2s;
        }
    .team .card:hover h5, .blogs .card:hover h5{
        font-weight: bold;
        color: rgb(0, 70, 192);
        transition: 2s;
    }
    
    .feedback input[type="submit"]:hover{
        background: white !important;
        color: black !important;
    }



